{% extends 'base.html' %}

{% block content %}
<style>
table{border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}}

table.large-table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

th, td {text-align: left;padding: 8px;}

tr:nth-child(even){background-color: #f2f2f2}

th {background-color: #008000;color: white;}
</style>

<table>
	<tr>
		<th>ID</th>
		<th>Прежний ID</th>
		<th>Код</th>
		<th>Имя</th>
	</tr>
	{% for collector in collectors %}
		<tr>
			<td> {{collector.id}} </td>
			<td> {% if collector.old_id %} {{collector.old_id}} {% endif %}</td>
			<td> {{collector.code}} </td>
			<td> {{collector.name}} </td>
		</tr>
	{% endfor %}
</table>

{% endblock %}